target/
out/
.idea/
!.idea/.name
!.idea/compiler.xml
!.idea/encodings.xml
!.idea/modules.xml
/JWebPoll.iml
/jwebpoll.sqlite
jwebpoll.properties
jwebpoll.xml
jwebpoll_Wed_Jun_01_21-19-34_CEST_2016.properties
jwebpoll_Wed_Jun_01_21-19-34_CEST_2016.xml
module_jwebpoll.xml
module_jwebpoll_Wed_Jun_01_21-19-34_CEST_2016.xml
/classes
src/main/resources/log4j.properties
src/main/resources/log4j-application.log
log4j-application.log
